html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.about__heading {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 50px;
}

.about__image {
  height: 200px;
}

.about__subheading {
  display: block;
  text-align: center;
  margin-bottom: 50px;
  color: #220c10;
  font-weight: bold;
  text-decoration: underline;
}

.about__text {
  width: 60%;
  float: left;
  margin-right: 10%;
  margin-left: 10%;
  line-height: 2em;
}

.content {
  margin: 0 auto;
  background: #bfc0c0;
  padding: 20px 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  color: #011638;
  max-width: 1000px;
}

.content__heading {
  text-decoration: underline;
  text-align: center;
  margin-bottom: 40px;
  font-size: 24px;
}

.content-wrapper {
  margin: 0 auto;
  margin-top: 50px;
  width: 90%;
}

.footer {
  color: #e0fbfc;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.hero {
  width: 100%;
  background: linear-gradient(270deg, rgba(91,199,238,1) 16%, rgba(103,200,189,1) 52%);
  color: #faf9f9;
}

.hero__wrapper {
  width: 80%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.important {
  margin: 0 auto;
  background: #f0a202;
  padding: 20px 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  color: #220c10;
  max-width: 1000px;
}

.navigation {
  
}

.navigation__link {
  color: #faf9f9;
  text-decoration: none;
  margin-left: 30px;
}


.overview__heading {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.overview__image {
  display: block;
  margin: 15px auto 20px auto;
  height: 200px;
}
