body {
  margin: 0 auto;
  padding: 0;
  width: 90%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(
    180deg,
    rgba(224, 251, 252, 1) 0%,
    rgba(152, 193, 217, 1) 40%,
    rgba(61, 90, 128, 1) 97%
  );
}

.navigation {
  height: 80px;
  width: 90%;
  background-color: rgba(1, 22, 56, 0.904);
  box-sizing: border-box;
  padding-top: 30px;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 1;
}

.navigation__link {
  color: #fdfffc;
  text-decoration: none;
  padding-right: 40px;
  font-weight: bold;
}

.navigation__link:hover {
  color: #f0a202;
}

.navigation__link--active {
  color: #f0a202;
}

.navigation__link--active:hover {
  color: #fdfffc;
}

.showcase {
  background-image: url(banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 380px;
  position: relative;
}

.showcase__heading {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #f0a202;
  font-size: 38px;
}

.content-wrapper {
  margin-top: 50px;
}

.about__heading {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 50px;
}

.about__subheading {
  display: block;
  text-align: center;
  margin-bottom: 50px;
  color: #220c10;
  font-weight: bold;
  text-decoration: underline;
}

.about__text {
  width: 60%;
  float: left;
  margin-right: 10%;
  margin-left: 10%;
  line-height: 2em;
}

.about__image {
  height: 200px;
}

.overview__heading {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.overview__image {
  display: block;
  margin: 15px auto 20px auto;
  height: 200px;
}

.content {
  margin: 0 auto;
  background: #bfc0c0;
  padding: 20px 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  color: #011638;
  max-width: 1000px;
}

.content__heading {
  text-decoration: underline;
  text-align: center;
  margin-bottom: 40px;
  font-size: 24px;
}

.important {
  margin: 0 auto;
  background: #f0a202;
  padding: 20px 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  color: #220c10;
  max-width: 1000px;
}

.footer {
  background: #220c10;
  color: #f0a202;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
